.album {}

.container {}

.section__title--album {
	margin-bottom: 60px;

	@media (width <=1200px) {
		margin-bottom: 60px;
	}

	@media (width <=900px) {
		margin-bottom: 30px;
	}

	@media (width <=670px) {
		margin-bottom: 15px;
	}
}

.section__intro--album {
	@media (width <=1200px) {
		max-width: 550px;
	}

	@media (width <=900px) {
		max-width: 440px;
	}
}

.album__slider {
	.slick-list {
		padding: 0 20% 0 0;

		@media (width <=900px) {
			padding: 0;
		}
	}

	.slick-track {
		position: relative;
	}


}

.slider-wrapper {
	position: relative;
}

.prev {
	left: 0px;

}

.next {
	right: 0px;
}


.prev,
.next {
	position: absolute;
	top: 0;
	width: 220px;
	height: 100%;

	cursor: auto;

	@media (width <=670px) {
		width: 72px;
	}
}





.prev svg,
.next svg {
	position: absolute;
	top: calc(50% - 45px);
	color: $_2;
	border-radius: 50%;
	transition: background-color 0.3s ease-in, opacity 0.3s ease-in;
	cursor: pointer;

	@media (width <=670px) {
		width: 34px;
		height: 34px;
		top: calc(50% - 17px);
	}
}

.prev svg {
	right: 0;
	opacity: 0;

	@media (width <=1200px) {
		right: 90px;
	}

	@media (width <=900px) {
		right: 96px;
	}

	@media (width <=670px) {
		right: 13px;
	}
}

.next svg {
	left: 0;
	opacity: 1;


	@media (width <=1200px) {
		left: 90px;
	}

	@media (width <=900px) {
		left: 96px;
	}

	@media (width <=670px) {
		left: 13px;
	}

}



#arrow-prev,
#arrow-next {
	border-radius: 50%;
	transition: color 0.3s ease-in, transform 0.3s ease-in;
}

.circle {
	transition: color 0.3s ease-in;
}

@media (hover:hover) {

	.prev:hover svg,
	.next:hover svg {
		opacity: 1;
	}

	.prev svg:hover #arrow-prev {
		transform: translateX(-10px);
		color: $_1;
	}

	.next svg:hover #arrow-next {
		color: $_1;
		transform: translateX(10px);
	}

	.prev svg:hover,
	.next svg:hover {
		background-color: white;
		opacity: 1;
	}

	.prev svg:hover .slick-list,
	.next svg:hover .slick-list {
		padding: 0 10% 0 0;
	}
}



.prev:focus,
.next:focus {
	outline: none;
}

.prev:focus-visible svg,
.next:focus-visible svg {
	background-color: rgba(249, 249, 249, 0.3);
	opacity: 1;
	outline: none;
}

.prev svg:active,
.next svg:active {
	background-color: #fff;
	outline: none;
	opacity: 1;
}

.prev svg:active .circle,
.next svg:active .circle {
	color: $_3;
}

.album__item {
	@media (width <=1200px) {
		max-width: 822px;
	}

	@media (width <=900px) {
		max-width: 768px;
	}

	@media (width <=670px) {
		max-width: 320px;
	}
}