:root {
	scroll-behavior: smooth;
}

body {
	position: relative;
	overflow-x: hidden;
	min-width: 320px;
	min-height: 100vh;
	font-family: Nunito; //, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	font-size: 20px;
	color: $_1;
	background-color: $_2;
	font-weight: 300;
}

html {
	position: relative;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

img,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

svg {
	max-height: 100%;
}

button {
	padding: 0;
	cursor: pointer;
	border: none;
	background-color: transparent;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
	margin: 0;
}

iframe {
	border: none;
}

/*
Доступно скрываю элементы
*/

.visually-hidden {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	clip: rect(1px 1px 1px 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.container {
	box-sizing: content-box;
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 25px;

	@media(max-width:1200px) {
	// padding: 0 42px;
	max-width: 940px;
	}

	@media (max-width:900px) {
		max-width: 700px;
	}

	@media(max-width:670px) {
		max-width: clamp(270px, 84vw, 600px);
	}
}


.btn {
	background-color: $_3;
	border-radius: 12px;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.5;
	color: $_2;
	outline-color: $opacity;
	transition: background-color 0.3s ease-in, outline-color 0.3s ease-in;

	@media (hover:hover) {
		&:hover {
			background-color: #f3c858;
		}
	}

	&:focus-visible {
		outline-offset: -2px;
		outline: 2px solid rgb(194, 144, 15);
		background: rgb(243, 200, 88);
	}

	&:active {
		background: rgb(208, 150, 0);
	}

	&:disabled {
		background: $_4;
	}
}


.section__title {
	font-size: 18px;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 60px;
	letter-spacing: -0.03rem;

	@media (width <=1200px) {
		margin-bottom: 40px;
	}

	@media (width <=900px) {
		font-size: 14px;
		margin-bottom: 30px;
	}

	@media (width <=670px) {
		font-size: 12px;
		letter-spacing: -0.02rem;
		margin-bottom: 15px;
	}
}

.section__intro {
	font-family: 'Merriweather';
	font-size: 34px;
	line-height: 1.5;
	letter-spacing: 0.04rem;
	max-width: 580px;
	margin-bottom: 80px;

	@media (width <=1200px) {
		font-size: 30px;
		margin-bottom: 60px;
	}

	@media (width <=900px) {
		font-size: 20px;
		max-width: 380px;
		letter-spacing: 0.025rem;
		margin-bottom: 40px;
	}

	@media (width <=670px) {
		font-size: 16px;
		margin-bottom: 25px;
		letter-spacing: 0.02rem;
	}
}