.why {
	padding: 150px 0;

	@media (width <=1200px) {
		padding: 120px 0;

		.section__title--why {
			margin-bottom: 60px;
		}
	}

	@media (width <=900px) {
		padding: 90px 0;

		.section__title--why {
			margin-bottom: 30px;
		}
	}


	@media (width <=670px) {
		padding: 50px 0;

		.section__title--why {
			margin-bottom: 15px;
		}

		.section__intro--why {
			margin-bottom: 52px;
		}
	}
}

.why__grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 60px 20px;

	@media (width <=1200px) {
		gap: 57px 20px;
	}
	@media (width <=900px) {
		gap:40px 20px;
	}

	@media (width <=670px) {
		gap: 25px 10px;
		grid-template-columns: 1fr 1fr;
	}
}

.why__card {
	position: relative;
	display: flex;
	flex-direction: column;
	// gap: 20px;

	&::before {
		position: absolute;
		left: 17px;
		top: 7px;
		content: "";
		display: block;
		width: 40px;
		height: 40px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}

	&:nth-child(1):before {
		background-image: url("./../../img/why/compas.svg");
	}

	&:nth-child(2):before {
		background-image: url("./../../img/why/suitcase.svg");
	}

	&:nth-child(3):before {
		background-image: url("./../../img/why/shield.svg");
	}

	&:nth-child(4):before {
		background-image: url("./../../img/why/meds.svg");
	}

	&:nth-child(5):before {
		background-image: url("./../../img/why/pacifier.svg");
	}

	&:nth-child(6):before {
		background-image: url("./../../img/why/hot-food.svg");
	}

	&>:not(:last-child) {
		margin-bottom: 20px;
	}
	
	// @media (width <= 1200px) {
	// 	&>:nth-child(2) {
	// 		margin-bottom: 15px;
	// 	}
	// }

	@media (width <=900px) {
		&>:not(:last-child) {
			margin-bottom: 18px;
		}
		&>:nth-child(2) {
			margin-bottom: 15px;
		}
	}
	@media (width <=60px) {
		&>:nth-child(2) {
			margin-bottom: 15px;
		}
	}

}

.why__title {
	font-size: 20px;
	font-weight: 700;
	line-height: 150%;
	letter-spacing: -0.03rem;

	@media (width <=900px) {
		font-size: 16px;
	}


	@media (width <=670px) {
		font-size: 14px;
	}
}

.why__text {
	font-size: 18px;
	font-weight: 300;
	line-height: 150%;
	letter-spacing: -0.026em;

	@media (width <=900px) {
		font-size: 14px;
	}

	@media (width <=670px) {
		font-size: 12px;
	}
}